<%- include("../_layouts/header") %>

<div class="row">
    <h1>Cập nhật bài đăng</h1>
    <form method="POST" action="/tuyenDung/<%=page._id%>">
        <div class="form-group">
            <p>Tên Công Ty:</p>
            <input type="text" name="nameCty" class="form-control" value="<%= page.nameCty %> " placeholder="Tên Công Ty" onkeyup="checkName()" />
            <span id="snameCty" class="error"></span>
        </div>
        <div class="form-group">
            <p>Vị trí tuyển dụng:</p>
            <input type="text" name="viTri" class="form-control" value="<%= page.viTri %> " placeholder="Vị trí tuyển dụng" onkeyup="checkViTri()" />
            <span id="sviTri" class="error"></span>
        </div>
        <div class="form-group">
            <p>Yêu cầu:</p>
            <textarea name="yeuCau" placeholder="Yêu cầu công việc" class="form-control" onkeyup="checkYeuCau()"><%= page.yeuCau %></textarea>
            <span id="syeuCau" class="error"></span>
        </div>
        <div class="form-group">
            <p>Mô tả:</p>
            <textarea name="moTa" placeholder="Mô tả công việc" class="form-control" ><%= page.moTa %></textarea>
        </div>
        <div class="form-group">
            <p>Sđt:</p>
            <input name="sdt" class="form-control" value="0<%= page.sdt %>" placeholder="Số điện thoại" onkeyup="checkSdt()" />
            <span id="ssdt" class="error"></span>
        </div>
        <button type="submit">Cập nhật</button>
    </form>
</div>
<script>
    function checkName() {
        var name = document.getElementsByName("nameCty")[0].value;
        if (name.length < 1) {
            document.getElementById("snameCty").style.display = ""
            document.getElementById("snameCty").innerHTML = "Vui lòng nhập tên công ty"
            return false
        }
        else {
            document.getElementById("snameCty").style.display = "none"
            return true
        }
    }
    function checkViTri() {
        var i = document.getElementsByName("viTri")[0].value;
        if (i.length < 3) {
            document.getElementById("sviTri").style.display = ""
            document.getElementById("sviTri").innerHTML = "Vui lòng nhập vị trí cần tuyển."
            return false
        }
        else {
            document.getElementById("sviTri").style.display = "none"
            return true
        }
    }
    function checkYeuCau() {
        var gt = document.getElementsByName("yeuCau")[0].value;
        if (gt.length < 10 ) {
            document.getElementById("syeuCau").style.display = ""
            document.getElementById("syeuCau").innerHTML = "Yêu cầu quá ngắn."
            return false
        }
        else {
            document.getElementById("syeuCau").style.display = "none"
            return true
        }
    }
    function checkSdt() {
        var s= document.getElementsByName("sdt")[0].value;
        console.log(s)
        if(s.length<10 || isNaN(s)){
            document.getElementById("ssdt").style.display = ""
            document.getElementById("ssdt").innerHTML = "Vui lòng nhập số điện thoại chính xác."
            return false
        }
        else {
            document.getElementById("ssdt").style.display = "none"
            return true
        }
    }
    $(document).ready(function () {
        $("form").submit(function (event) {
            if (checkName() == false || checkYeuCau() == false || checkViTri() == false || checkSdt() == false) {
                return false
            }
        });
    })
</script>


<%- include("../_layouts/footer") %>